<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/09465da2-8e33-4056-b38e-6fe8d0de9ed3/resourceGroups/econome/providers/Microsoft.Web/sites/EconoMeAPI</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://economeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>08a53203-9fa6-41bc-97af-0938b19e5576</ProjectGuid>
    <PublishUrl>https://economeapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EconoMeAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>